

.book-pic {
	width: 250px;
	height: 400px;
	border-radius: 2px;
}

.book-info {
	word-break: break-all
}

.book-title {
	font-size: 20px;
}

.book-author {
	width: 320px;
	margin-top: 5px;
}

.form-head {
	margin-bottom: 50px;
}